.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
  border: 1px solid violet;
}
@media (witdh >= 80em) {
  .container {
    --max-width: 80rem;
  }
}
